*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.programming-box{
    position: relative;
    left: 50px;
    top: 40px;
    border: 2px solid black;
    width: 175px;
    height: 115px;
}

.programming-box:hover {
    background-color: rgb(57, 57, 105);
    color: white;
    image-rendering: pixelated;
    transform: scale(1.3);
}

.image-part{
    position: absolute;
    left: 10px;
}

.programming-image{
    height: 70px;
    width: 70px;

}

.text-part{
    position: absolute;
    top: 90px;
    left: 10px;
}